<nav class="grey darken-3">
    <div class="nav-wrap">
        <div>
            <a href="/" class="brand-logo center"><img src="../images/garagestyleLogo.webp" alt=""></a>
            <a href="/jobs" class="jobs-nav">Jobs</a>
        </div>
        <ul class="sidenav" id="mobile-demo">
            <% if (!user) { %>
                <li><a class="logout" href="/login">Login</a></li>
            <% } else { %>
                <li><a class="logout-nav" href="/logout">Logout</a></li>
            <% } %>  

        </ul>
    </div>
</nav>