@font-face {
    font-family: myFont;
    src: url(../css/ds_digital/DS-DIGIB.TTF);
}

* {
    box-sizing: border-box;
}


@media (max-width: 1100px) {
    .clearfix::after {
        display:table;
        clear:both;
        content: '';
    }
}
body {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url('../images/nature4.png');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.body-container {
    
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    margin: 30px auto;
    padding: 20px;
    width: calc(800px - 40px);
    color: #333;
    opacity: 0.99;
    border-radius: 15px;
    /* backdrop-filter: blur(14px) saturate(180%); */
    -webkit-backdrop-filter: blur(14px) saturate(180%);
    /* background-color: rgba(255, 255, 255, 0.75); */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

}

@media (max-width: 840px) {
    .body-container {
      width: 90%;
    }
  }
  
@media (min-width: 841px)  {
    .body-container {
        width: 800px;
    }
}

.input-container {
    background-color: white;
    min-height: 70px;
    padding: 5px 20px;
    margin: 30px 0;
    border-radius: 15px;
    border: solid 1px #e6e6e6;
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    min-height: 70px;
}



.job-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 0.2fr 0.2fr;
    align-items: center;
    grid-gap: 10px;
    min-height: 32px;
}

.grid-container .startTimeSpan {
    text-align: left;
}

.job-grid-container .jobLengthSpan {
    text-align: left;
}

.grid-container li {

        display: flex !important;
        align-items: center !important;
        margin-bottom: 0 !important;
}

h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    color: #999999;
    margin: 10px 0;
    font-size: 20px;

}

#startLocationSpan {
    font-size: 24px;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.jumbotron {
    background-color: transparent;
}

#googleMap {
    width: 80%;
    height: 512px;
    margin: 60px auto;
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

#googleMap:hover {
    transform: scale(1.5);
    max-width: 100%;
}

.jobList {
    display: block !important;
  }
  
div.job-item {
    display: block !important;
  }

select {
    padding: 5px 10px;
    
}

li.jobItem {
    border: 2px solid #eaebea;
    border-radius: 8px;
    padding: 20px;
    margin: 30px 0;
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
    min-height: 32px;
}

li.jobItem:hover {
    /* border: 1px solid #ccc; */

    transform: scale(1.05);
    
    border: 1px solid hsl(244, 100%, 69%);
    background-color: hsl(244, 100%, 69%);
    color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
}




label {
    margin-right: 10px;
}

span {
    margin-right: 10px;
}

input.job-checkbox {
    margin-right: 5px;
    padding: 5px;
}

li.start-time, li.finish-time {
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

li.start-time span, li.finish-time span {
    margin-right: 10px;
}

form {
    margin-bottom: 20px;
}

li.start-location {
    
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

ul {
    
    padding: 10px;
    margin-bottom: 20px;
}

li.jobItem {
    margin-bottom: 10px;
    list-style: none !important;
}

p#finishTimeWarning {
    
    padding: 10px;
    margin-bottom: 20px;
}

li {
    list-style: none !important;
}

i {
    float: right;
}

.top-container i:hover {
    font-size: 20px;
    color: rgba(0,0,0,1);
}

.li-container i:hover {
    font-size: 20px;
    color: hsl(200, 15%, 100%);;
}

.job-checkbox:hover {
    font-size: 20px;
}

.start-time span, .finish-time span  {
    font-family: myFont;
    font-size: 32px;
}

.time {
    font-family: myFont;
    font-size: 32px !important;
}

.start-location span {
    font-size: 20px;

}

#createJobForm {
    width: 80%;
    margin: 50px auto;
   
}

#createJobForm #jobCreationOptions {
    border-collapse: separate; 
    border-radius: 8px;  /* This sets the border radius of the element */
    perspective: 1px;
    transform: scale(1);
  }

  #createJobForm #jobCreationOptions > * {
    transform: scale(1);
  }

  #createJobForm #jobCreationOptions > *:hover {
    transform: scale(1.02);
    border-radius: 8px;
  }

  #jobCreationOptions :first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  #jobCreationOptions :nth-child(7) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  

#createJobForm input, #createJobForm select {
    width: 100%;
    background-color: hsl(200, 15%, 96%);
    border: none;
    color: hsl(230, 15%, 60%);
    padding: 20px;
}

#createJobForm input::placeholder {
    color: hsl(230, 15%, 60%);
    
}

#jobCreationSubmitButton {
    background-color: white !important;
    margin: 20px 0;
    color: #6c62ff !important;
    border-radius: 10px;
    border: 2px solid #6c62ff !important;
    font-size: 24px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    transform: scale(1);
    
}


#jobCreationSubmitButton:hover {
   background-color: #6c62ff !important;
    /* background-color: #b3b3ff !important; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    color: white !important;
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    transform: scale(1.00);
} 

.logout {
    float: right;
    margin-right: 20px;

}


.buttonHolder {
    display: flex;  /* Set the display to flex */
    justify-content: center;  /* Center the button */
    margin-bottom: 30px;
}

#routebtn {
    width: 78%;
    margin: 0 auto !important;
    background-color: #6c62ff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    font-size: 24px;
    transform: scale(1);
    z-index: 5;
}

#routebtn:hover {
    background-color:#3C2FFF ;
    transform: scale(1.02);
}

.hide {
    display: none;
}

.logout {
    text-decoration: none !important;
    font-weight: 700;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -webkit-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 4px 4px 20px 1px rgba(0,0,0,0.52);
    transform: scale(1);
}

.logout:hover {
    background-color: rgba(255, 255, 255, 0.4); 
    transform: scale(1.05);
}

.alert-info {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
}

.alert-info span{
    font-size: 20px;
}

input[type="checkbox"]:checked + label {
    color: red;
  }

#finishTimeWarning {
    color: red;
}

.alert {
    background-color: #FE6D63 !important;
    padding: 20px 40px;
    position: fixed;
    left: 0px;
    border-radius: 4px;
    border-left: #FE3E30 8px solid;
    overflow: hidden;
    z-index: 50;
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #FA1201;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px ;
    color: white;
}

.alert .close-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FE3E30;
    padding: 20px 18px;
    margin: 0;
}

.close-btn .fa-times {
    font-size: 22px;
    line-height: 40px;
    color: white ;
    margin: 0 auto;
}

.close-btn:hover {
    background-color: #FA1201;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide  {
    0% {
        transform: translateX(-100%) ;
    }
    40% {
        transform: translateX(10%) ;
    }
    80% {
        transform: translateX(0%) ;
    }
    100% {
        transform: translateX(10%) ;
    }
}

#customerHome {
    background: linear-gradient(to bottom right,rgba(200, 200, 200, 0.3), rgba(0, 0, 0, 0.7)), url(../images/backgroundImage.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* background-blend-mode: multiply; */
}

#customerHome section {
    margin: auto auto;
    height: 100%;
    width: 768px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#customerHome h1, #customerHome h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.05em;
    text-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.9);
}

#customerHome a {
    float: right;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    
}

#customerHome form {
    padding: 60px 0;

}

#customerHome .textInput {
    background-color: rgba(0,0,0,.2);
    color: white;
    width: 400px;
    height: 70px;
    text-align: center;
    
}

#customerHome .textInput::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#customerHome form input {
    width: 150px;
    height: 70px;
    font-size: 32px;
}

#customerHome .timeDisplay {
    font-family: myFont;
    font-size: 80px;
    color: white;
}

.button-container {
    display: flex;
    flex-direction: column;
}

#output div span {
    font-size: 24px;
}

.fa-trash {
    color: rgba(153, 153, 153, 1);
}

.button-container {
    position: relative;
}

/* .fa-angle-down {
    height: 30px;
    width: 30px;
    background-color: #6c62ff;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;  
    vertical-align: middle;  
    color: white;
    position: absolute;
    bottom: -50px;
  } */

  nav > div {
    display: flex;
    justify-content: space-between;
  }

  nav > div ul {
    display: flex;
   
  }

  nav img {
    height: 100px;
  }