h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.jumbotron {
    background-color: transparent;
}

#googleMap {
    width: 80%;
    height: 400px;
    margin: 20px auto;
}

.jobList {
    display: block !important;
  }
  
div.job-item {
    display: block !important;
  }